Django==1.4.3
South==0.7.6
croniter==0.3.3
django-breadcrumbs==1.1.3-p1
django-redis==3.1.6
django-social-auth==0.7.18
django-tastypie==0.9.14
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.2
httplib2==0.7.7
mimeparse==0.1.3
oauth2==1.5.211
psycopg2==2.4.6
python-dateutil==1.5
python-openid==2.2.5
redis==2.7.2
requests==1.1.0
selenium==2.29.0
wsgiref==0.1.2
zope.interface==4.0.3
