{% load momonitor_tags %}

<div class="btn-group pull-right">
  <a href="{% url main:modal_form 'simpleservicecheck' %}?sid={{service.id}}" role="button" class="btn modalize">
    <i class="icon-plus tooltipped" data-title="Add Simple Check"></i>
  </a>  
</div>
<h3><a href="#simpletable" class="toggle-hide">Simple Checks</a> 
  <small>{{service|status_count:'simpleservicecheck'}} </small>
</h3>
<div class="clearfix"></div>
<table id="simpletable" class="table table-hover table-bordered table-sortable">
  <thead>
    <th>Name</th>
    <th>Endpoint</th>
    <th>Timeout (ms)</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if service.simpleservicecheck.count %}
    {% for check in service.simpleservicecheck.all|dictsort:"id" %}
    <tr class="{{check.status|to_bootstrap_rowclass}} {% if check.is_silenced or service.silenced %}muted{% endif %}">
      <td width="30%">
	{{check.name}} {% if check.is_silenced or service.silenced %}<small class="muted">silenced</small>{% endif %}
	<a class="modalize" href="{% url main:modal_form 'simpleservicecheck' check.id %}?sid={{service.id}}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{check|resource_url}}">
	  <i class="icon-remove"></i>
	</a>
	<a target="_blank" href="{{check.endpoint}}">
	  <i class="icon-eye-open"></i>
	</a>
      </td>
      <td width="30%"><span class="tooltipped" data-title="{{check.endpoint}}">{{check.endpoint|truncatechars:30}}</span></td>
      <td width="15%">{% if check.timeout %}{{check.timeout}}{% else %}n/a{% endif %}</td>
      <td width="25%">{{check.last_updated|since}}
	<a class="ajaxify" href="{% url main:refresh 'simpleservicecheck' check.id %}">
	  <i class="icon-refresh"></i>
	</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="4">
	<center>You currently have no simple checks. Click <a class="modalize" href="{% url main:modal_form 'simpleservicecheck' %}?sid={{service.id}}">here</a> to add one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
