{% load momonitor_tags %}

<div class="btn-group pull-right">
  <a href="{% url main:modal_form 'umpireservicecheck' %}?sid={{service.id}}" role="button" class="btn modalize">
    <i class="icon-plus tooltipped" data-title="Add Umpire Check"></i>
  </a>
</div>
<h3><a href="#umpiretable" class="toggle-hide">Umpire Checks</a> 
  <small>{{service|status_count:'umpireservicecheck'}}</small>
</h3>
<div class="clearfix"></div>
<table id="umpiretable" class="table table-hover table-bordered table-sortable">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if service.umpireservicecheck.count %}
    {% for check in service.umpireservicecheck.all|dictsort:"id" %}
    <tr class="{{check.status|to_bootstrap_rowclass}} {% if check.is_silenced or service.silenced %}muted{% endif %}">
      <td width="30%">
	{{check.name}}
	{% if check.is_silenced or service.silenced %}<small class="muted">silenced</small>{% endif %}
	<a class="modalize" href="{% url main:modal_form 'umpireservicecheck' check.id %}?sid={{service.id}}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{check|resource_url}}">
	  <i class="icon-remove"></i>
	</a>
	<a class="highchartize" 
	   data-title="{{check.name}}"
	   data-series="{{check.last_series}}" 
	   data-error="{{check.error_range_series}}"
	   data-container="#myModalContainer"
	   href="#">
	  <i class="icon-eye-open"></i>
	</a>
	<a class="modalize" data-type="image" href="{{check.graphite_url}}">
	  <i class="icon-signal"></i>
	</a>
      </td>
      <td width="45%">
	<span class="hide">{{check.status}}</span>
	<div class="progress tooltipped" rel="tooltip" data-title="{% if check.last_value == 0 %}zero{% else %}{{check.last_value}}{% endif %}" data-placement="top" >
	  <div class="bar {{check.status|to_bootstrap_progressbarclass}}" style="width: {{check.status_progress}}%;"></div>
	</div>
	<small class="pull-left muted">{{check.error_lower_bound}}</small>
	<small class="pull-right muted">{{check.error_upper_bound}}</small>
	<div class="clearfix"></div>
      </td>
      <td width="25%">{{check.last_updated|since}}
	<a class="ajaxify" href="{% url main:refresh 'umpireservicecheck' check.id %}">
	  <i class="icon-refresh"></i>
	</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="3">
	<center>You currently have no umpire checks. Click <a class="modalize" href="{% url main:modal_form 'umpireservicecheck' %}?sid={{service.id}}">here</a> to add one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
