<legend class="modal-section-header">
  Advanced
  <small>(optional)</small>
</legend>
<div id="advanced-settings">
  <div class="half pull-left">
    <label>Frequency</label>
    {{form.frequency}}
    <label>Failures Before Alert</label>
    {{form.failures_before_alert}}
    <label>Override Alert Type</label>
    {{form.alert_type}}    
  </div>
  <div class="half pull-right">
    <div class="well well-small">
      <dl>
	<dt>Frequency</dt>
	<dd><small>Determine how often your check is run by specifying a cron-style schedule (i.e. */5 * * * *)</small></dd>
	<dt>Failures Before Alert</dt>
	<dd><small>Have the check only alert you after X consecutive failures</small></dd>
	<dt>Override Alert Type</dt>
	<dd><small>Override the Service's default alert type for  this check</small></dd>
      </dl>
    </div>
  </div>
</div>

