{% extends "main/modal_forms/base.html" %}

{% block form_body %}
{{form.service}}
<fieldset>
  <legend class="modal-section-header">Basic</legend>
  <div class="pull-left half">
    <label>Name</label>
    {{form.name}}
    <label>Description</label>
    {{form.description}}
  </div>
  <div class="pull-right half">
    <label class="checkbox">{{form.silenced}} Silenced</label>
    <label>Graphite Metric</label>
    {{form.graphite_metric}}
    <label>Graphite Min</label>
    {{form.graphite_lower_bound}}
    <label>Graphite Max</label>
    {{form.graphite_upper_bound}}
  </div>
  <div class="clearfix"></div>
</fieldset>
<hr />
<fieldset>  
  {% include "main/modal_forms/advanced_form_directions.html" %}
</fieldset>


{% endblock %}
