{% extends "main/modal_forms/base.html" %}

{% block form_body %}
<fieldset>
  <legend class="modal-section-header">Basic</legend>
  <div class="pull-left half">
    <label>Name</label>
    {{form.name}}
    <label>Alert Type</label>
    {{form.alert_type}}    
  </div>
  <div class="pull-right half">
    <label class="checkbox">{{form.silenced}} Silenced</label>
    <div class="choicebox" data-name="alert_type">
      <div class="choice" id="pagerduty">
	<label>PagerDuty Key</label>
	{{form.pagerduty_key}}
      </div>
      <div class="choice" id="email">
	<label>Email Contact</label>
	{{form.email_contact}}    
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <legend class="modal-section-header">Advanced</legend>
  <div id="advanced-settings">
    <label>Frequency</label>
    {{form.frequency}}
    <label>Failures Before Alert</label>
    {{form.failures_before_alert}}
    <label>Umpire Range (s)</label>
    {{form.umpire_range}}
  </div>
</fieldset>

{% endblock %}
