{% extends "main/modal_forms/base.html" %}

{% block form_body %}
{{form.service}}
<fieldset>
  <legend class="modal-section-header">Basic</legend>
  <div class="pull-left half">
    <label>Name</label>
    {{form.name}}
    <label>Description <small class="muted">(optional)</small></label>
    {{form.description}}
  </div>
  <div class="pull-right half">
    <label class="checkbox">{{form.silenced}} Silenced</label>
    <label>URL Endpoint</label>
    {{form.endpoint}}
    <label>Timeout (ms) <small class="muted">(optional)</small></label>
    {{form.timeout}}
  </div>
  <div class="clearfix"></div>
</fieldset>
<hr />
<fieldset>
  {% include "main/modal_forms/advanced_form_directions.html" %}
</fieldset>


{% endblock %}
