{% extends "main/modal_forms/base.html" %}

{% block form_body %}
{{form.service}}
<fieldset>
  <legend class="modal-section-header">Basic</legend>
  <div class="pull-left half">
    <label>Name</label>
    {{form.name}}
    <label>Description</label>
    {{form.description}}
    <label>Umpire Check Type</label>
    {{form.umpire_check_type}}
    <label>Umpire Range Type</label>
    {{form.umpire_range_type}}
  </div>
  <div class="pull-right half">
    <label class="checkbox">{{form.silenced}} Silenced</label>
    <label>Umpire Metric</label>
    {{form.umpire_metric}}
    <div class="choicebox" data-name="umpire_check_type">
      <div class="choice" id="static">
	<label>Umpire Min</label>
	{{form.umpire_min}}
	<label>Umpire Max</label>
	{{form.umpire_max}}
      </div>
      <div class="choice" id="dynamic">
	<label>Percent Error (from guessed value)</label>
	{{form.umpire_percent_error}}
	<i class="muted">Error range will be computed over time based on past history</i>
      </div>
    </div>
    <div class="choicebox" data-name="umpire_range_type">
      <div class="choice" id="current">
	<label>Umpire Range</label>
	{{form.umpire_range}}
      </div>
      <div class="choice" id="day">
	<i class="muted">Range will be computed from the beginning of the day</i>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</fieldset>
<hr />
<fieldset>  
  {% include "main/modal_forms/advanced_form_directions.html" %}
</fieldset>


{% endblock %}
