{% extends "modal_forms/base.html" %}

{% block form_body %}
<fieldset>
  <legend>Basic</legend>
  <div class="pull-left half">
    <label>Name</label>
    {{form.name}}
    <label>Alert Type</label>
    {{form.alert_type}}    
  </div>
  <div class="pull-right half">
    <label class="checkbox">{{form.silenced}} Silenced</label>
    <div class="choicebox" data-name="alert_type">
      <div class="choice" id="pagerduty">
	<label>PagerDuty Key</label>
	{{form.pagerduty_key}}
      </div>
      <div class="choice" id="email">
	<label>Email Contact</label>
	{{form.email_contact}}    
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <legend>
    <a href="#advanced-settings" class="toggle-hide">
      <small><i class="icon-plus"></i></small> 
    </a>
    Advanced
  </legend>
  <div id="advanced-settings" class="hide">
    <label>Frequency</label>
    {{form.frequency}}
    <label>Failures Before Alert</label>
    {{form.failures_before_alert}}
    <label>Umpire Range (s)</label>
    {{form.umpire_range}}
  </div>
</fieldset>

{% endblock %}
