{% extends "main/base.html" %}
{% load momonitor_tags %}

{% block body %}
<div class="page-header">
  <a id="add-service-button" href="{% url main:modal_form 'service' %}" role="button" class="btn modalize pull-right tooltipped" data-title="Add Service"><i class="icon-plus"></i></a>
  <h1>All Services</h1>  
  <div class="clearfix"></div>
</div>


<table class="table table-hover table-bordered table-sortable">
  <thead>
    <th>Service Name</th>
    <th>P/F/U</th>
    <th>Alert Type</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if services %}
    {% for service in services %}
    <tr class="{{service.status|to_bootstrap_rowclass}}">
      <td width="40%"><a href="{% url main:service service.id %}">{{service.name}} {% if check.is_silenced or service.silenced %}<small class="muted">silenced</small>{% endif %}</a>
	<a class="modalize" href="{% url main:modal_form 'service' service.id %}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{service|resource_url}}">
	  <i class="icon-remove"></i>
	</a>
      </td>
      <td width="10%">{{service.status_counts}}</td>
      <td width="20%">{{service.alert_type}}</td>
      <td width="30%">{{service.last_updated|since}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="4">
	<center class="muted">You don't have any services. Click <a href="{% url main:modal_form 'service' %}" class="modalize">here</a> to create one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}

{% block footer %}
<hr />
<footer class="footer">
  <div class="container">
    <center>
      <p>Confused? See <a href="{% url main:how_it_works %}">how it works</a></p>
      <p>Designed and built by <a href="http://twitter.com/systemizer">@systemizer</a></p>
      <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a></p>
    </center>
  </div>
</footer>
{% endblock %}
