{% extends "main/base.html" %}

{% block body %}
<div class="page-header">
  <div class="btn-group pull-right">
    <a class="btn ajaxify tooltipped" data-title="Run Checks" href="{% url main:refresh 'service' service.id %}" class="btn"><i class="icon-refresh"></i></a>
    {% if service.alert_type != "none" %}
    <a class="btn ajaxify tooltipped" {% if service.silenced %}disabled{% endif %} data-title="Test Alert" href="{% url main:test_alert service.id %}" class="btn"><i class="icon-flag"></i></a>
    {% endif %}
  </div>
  <h1>Service Checks <small>{{service.name}} {% if service.silenced %}(silenced){% endif %}</small></h1>
</div>
{% include "main/tables/simple_check.html" %}
<hr />
{% include "main/tables/umpire_check.html" %}
<hr />
{% include "main/tables/compare_check.html" %}
<hr />
{% include "main/tables/code_check.html" %}
{% endblock %}
