#momonitor-container {margin-top:40px;}
.breadcrumb {background:#FFF;margin-bottom:0px;}
.modal form {margin-bottom:0px;}
a:hover {text-decoration:none;}
#loading-container {left:45%;top:50%;position:fixed;}
.progress {margin-bottom:0px;}
#myModalContainer .modal-body {width:90%;}
.half {width:50%;}
.modal form .checkbox {padding-bottom:10px;border-bottom:solid thin #999;margin-bottom:10px;}
dt, dd {line-height:normal;}
dt {margin-top:7px;margin-bottom:2px;}
.modal-section-header {
    background-color:#369;
    padding-left:10px;
    color:#FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

legend.modal-section-header small {color:#FFF;}
.popover-content p {line-height:normal;color:#333;}