{% extends "base.html" %}
{% load momonitor_tags %}

{% block body %}
<div class="page-header">
  <h1>All Services</h1>
</div>
<a href="{% url main_modal_form 'service' %}" role="button" class="btn modalize pull-right"><i class="icon-plus"></i></a>
<p class="clearfix"></p>
<table class="table table-hover table-bordered">
  <thead>
    <th>Service Name</th>
    <th>P/F/U</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if services %}
    {% for service in services %}
    <tr class="{{service.status|to_bootstrap_rowclass}}">
      <td><a href="{% url main_service service.id %}">{{service.name}}</a>
	<a class="modalize" href="{% url main_modal_form 'service' service.id %}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{service|resource_url}}">
	  <i class="icon-remove"></i>
	</a>
      </td>
      <td>{{service.status_counts}}</td>
      <td>{{service.last_updated|since}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="3">
	<center class="muted">You don't have any services. Click <a href="{% url main_modal_form 'service' %}" class="modalize">here</a> to create one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
