{% extends "base.html" %}

{% block body %}
<div class="page-header">
  <div class="btn-group pull-right">
    <a class="btn ajaxify tooltipped" data-title="Run Checks" href="{% url main_refresh 'service' service.id %}" class="btn"><i class="icon-refresh"></i></a>
    {% if service.pagerduty_key %}
    <a class="btn ajaxify tooltipped" {% if service.silenced %}disabled{% endif %} data-title="Alert Pagerduty" href="{% url main_test_pagerduty service.id %}" class="btn"><i class="icon-flag"></i></a>
    {% endif %}
  </div>
  <h1>Service Checks <small>{{service.name}} {% if service.silenced %}(silenced){% endif %}</small></h1>
</div>
{% include "tables/simple_check.html" %}
<hr />
{% include "tables/umpire_check.html" %}
<hr />
{% include "tables/compare_check.html" %}
<hr />
{% include "tables/past_check.html" %}
{% endblock %}
