{% extends "base.html" %}
{% load momonitor_tags %}

{% block body %}
<div class="page-header">
  <a class="pull-right btn ajaxify" href="{% url main_refresh_service service.id %}" class="btn"><i class="icon-refresh"></i></a>
  <h1>Service Checks <small>{{service.name}}</small></h1>
</div>
<div class="btn-group pull-right">
  <a href="{% url main_modal_form 'simpleservicecheck' %}" role="button" class="btn modalize"><i class="icon-plus"></i></a>
  
</div>
<h3>Simple Checks</h3>
<div class="clearfix"></div>
<table class="table table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Endpoint</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if simple_checks.count %}
    {% for check in simple_checks.all %}
    <tr class="{{check.status|to_bootstrap_rowclass}}">
      <td>
	{{check.name}}
	<a class="modalize" href="{% url main_modal_form 'simpleservicecheck' check.id %}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{check|resource_url}}">
	  <i class="icon-remove"></i>
	</a>
	<a target="_blank" href="{{check.endpoint}}">
	  <i class="icon-eye-open"></i>
	</a>
      </td>
      <td>{{check.endpoint}}</td>
      <td>{{check.last_updated|since}}
	<a class="ajaxify" href="{% url main_refresh_simple_check check.id %}">
	  <i class="icon-refresh"></i>
	</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="6">
	<center>You currently have no simple checks. Click <a class="modalize" href="{% url main_modal_form 'simpleservicecheck' %}">here</a> to add one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
<hr />
<div class="btn-group pull-right">
  <a href="{% url main_modal_form 'umpireservicecheck' %}" role="button" class="btn modalize"><i class="icon-plus"></i></a>
</div>
<h3>Umpire Checks</h3>
<div class="clearfix"></div>
<table class="table table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Umpire Min</th>
    <th>Umpire Max</th>
    <th>Last Value</th>
    <th>Umpire Range</th>
    <th>Last Updated</th>
  </thead>
  <tbody>
    {% if umpire_checks.count %}
    {% for check in umpire_checks %}
    <tr class="{{check.status|to_bootstrap_rowclass}}">
      <td>
	{{check.name}}
	<a class="modalize" href="{% url main_modal_form 'umpireservicecheck' check.id %}">
	  <i class="icon-edit"></i>
	</a>
	<a class="delete" href="{{check|resource_url}}">
	  <i class="icon-remove"></i>
	</a>

	<a class="modalize" data-type="image" href="{{check.graphite_url}}">
	  <i class="icon-eye-open"></i>
	</a>

      </td>
      <td>{{check.umpire_min}}</td>
      <td>{{check.umpire_max}}</td>
      <td>{{check.last_value}}</td>
      <td>{{check.umpire_range}}</td>
      <td>{{check.last_updated|since}}
	<a class="ajaxify" href="{% url main_refresh_umpire_check check.id %}">
	  <i class="icon-refresh"></i>
	</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="6">
	<center>You currently have no umpire checks. Click <a class="modalize" href="{% url main_modal_form 'umpireservicecheck' %}">here</a> to add one</center>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
